<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>iODBC Administrator</string>
	<key>CFBundleGetInfoString</key>
	<string>iODBC Administrator</string>
	<key>CFBundleIconFile</key>
	<string>iODBCAdministrator.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.iodbc.iODBCAdministrator</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iODBC Administrator</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.52.10</string>
	<key>CFBundleSignature</key>
	<string>odbc</string>
	<key>CFBundleVersion</key>
	<string>3.52.10</string>
</dict>
</plist>
