<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDeleteWarning</key>
	<string>Deleting this package will delete the OpenLink iODBC Administrator from your system.</string>
	<key>IFPkgDescriptionDescription</key>
	<string>The OpenLink iODBC Administrator is an application which let you configure and manage all your data sources and ODBC settings. (Installed by default in /Applications/Utilities)</string>
	<key>IFPkgDescriptionTitle</key>
	<string>OpenLink iODBC Administrator</string>
	<key>IFPkgDescriptionVersion</key>
	<string>@IODBC_VERSION@</string>
</dict>
</plist>
