#!/usr/bin/make -f

DEB_AUTO_UPDATE_LIBTOOL=pre
DEB_AUTO_UPDATE_ACLOCAL=1.9
DEB_AUTO_UPDATE_AUTOMAKE=1.9
DEB_AUTO_UPDATE_AUTOCONF=2.50

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

# To make sure that every package that links against libiodbc defines
# a versioned dependency and not just a normal one.
DEB_CONFIGURE_EXTRA_FLAGS := --with-layout=debian 
DEB_DH_MAKESHLIBS_ARGS := -V
DEB_SHLIBDEPS_LIBRARY_iodbc := libiodbc2
DEB_SHLIBDEPS_INCLUDE_iodbc := debian/libiodbc2/usr/lib:debian/iodbc/usr/lib
DEB_SHLIBDEPS_INCLUDE_libiodbc2 := debian/libiodbc2/usr/lib

install/iodbc ::
	mkdir -p debian/tmp/usr/share/lintian/overrides/
	cp debian/iodbc.lintian-overrides debian/tmp/usr/share/lintian/overrides/iodbc

install/libiodbc2 ::
	mkdir -p debian/tmp/usr/share/lintian/overrides/
	cp debian/libiodbc2.lintian-overrides debian/tmp/usr/share/lintian/overrides/libiodbc2
